<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AccessToken" value="601606425-gOBtvNQqxRlTxc9jMDmoIAzXuPiFQoN9YahypmkM"/>
    <add key="AccessTokenSecret" value="SIReWpse8VWHpY4ZB42NMq0aKN1kXYkZvqtCg352s"/>
    <add key="ConsumerKey" value="WnMFnoM7DEYeTjKY402hLg"/>
    <add key="ConsumerSecret" value="hTYPtY9AmXGDgJWpAzTh9OSB0wDDuSxEBAgbkXtZ0"/>
    
  </appSettings>
</configuration>